%h2= params[:page]

#test_app
  = form_tag '', id: 'user_signup', class: "main_form", data: { remote: true, 'password-protected' => true } do
    = text_field_tag(:user_return_to, (params[:user_return_to] || my_url('sites')))
    .entry.email
      = label_tag :user_email, "Email", class: "icon"
      = email_field_tag "user[email]", nil, class: "text", placeholder: "Email", required: true, id: :user_email

    .entry.password
      = label_tag :user_password, "Password", class: "icon"
      = password_field_tag "user[password]", nil, class: "text show_password", placeholder: "Password", required: true, id: :user_password

    .entry.select
      .left_field
        %select
          %option Foo
          %option Bar
    .spacer

    .break
    .entry.terms
      .checkbox_wrap
        = check_box_tag "user[terms_and_conditions]", 1, false, id: :user_terms_and_conditions
        = label_tag :user_terms_and_conditions, 
          "I agree to the #{link_to("Terms & Conditions", my_url('terms'), onclick: "window.open(this); return false")}.".html_safe

    .entry.submit.sign_up
      = submit_tag "Sign Up"
      .spacer

  %ul.sticky
    %li
      %a{ href: 'a', onclick: 'return false;' } demo
    %li
      %a{ href: 'b', onclick: 'return false;' } blog
    %li
      %a{ href: 'c', class: 'no_sticky', onclick: 'return false;' } help

  %a{ href: 'a', class: 'sort sticky', onclick: 'return false;' }
    Sticky

  #table_spinner{ style: 'display:none;' }
    TABLE SPINNER!!!!!!