%h2.title= "Create your account"

= form_tag my_url('users/new'), id: 'user_signup', class: "main_form" do
  .entry.email
    = label_tag :user_email, "Email", class: "icon"
    = email_field_tag "user[email]", nil, class: "text", placeholder: "Email", required: true, id: :user_email

  .entry.password
    = label_tag :user_password, "Password", class: "icon"
    = password_field_tag "user[password]", nil, class: "text show_password", placeholder: "Password", required: true, id: :user_password

  .break
  .entry.terms
    .checkbox_wrap
      = check_box_tag "user[terms_and_conditions]", 1, false, id: :user_terms_and_conditions
      = label_tag :user_terms_and_conditions, 
        "I agree to the #{link_to("Terms & Conditions", my_url('terms'), onclick: "window.open(this); return false")}.".html_safe

  .entry.submit.sign_up
    = submit_tag "Sign Up"
    .spacer