- @page_title = "Something Went Wrong (500)"

= image_tag "errors/500.png", alt: "SublimeVideo 500"

#content
  %p Sorry, an issue has just occured, we've been informed and will have a look into it.
  %p= raw "Go back to #{link_to "#{subdomain}#{domain}", root_path} or #{link_to 'contact us', layout_url('contact')} about a problem."
  = link_to "http://sublimevideo.net", class: "sublimevideo" do
    %span SublimeVideo
