%footer
  .wrap
    %nav
      .col
        %h4 Solutions
        %ul
          %li= link_to "Framework", layout_url('framework')
          %li= link_to "Modular Player", layout_url('modular-player')
          %li= link_to "Tailor-Made Players", layout_url('tailor-made-players')
          %li= link_to "Testimonials", layout_url('testimonials')
      .col
        %h4 Support
        %ul
          %li= link_to "Help", layout_url('help')
          %li= link_to "Documentation", docs_url('')
          %li= link_to "Forum", "http://getsatisfaction.com/sublimevideo", onclick: "window.open(this); return false"
          %li= link_to "Player Releases", docs_url('releases')
      .col
        %h4 Company
        %ul
          %li= link_to "About", layout_url('about')
          %li= link_to "News", layout_url('news')
          %li= link_to "Contact Us", layout_url('contact')
          %li.jobs
            = link_to "Jobs", "http://jilion.com/jobs"

    .right
      %p.twitter
        = "Follow"
        = link_to "@jilion", "http://twitter.com/jilion"
        = "for the latest news."
      .newsletter
        %form{ action: "http://jilion.createsend.com/t/r/s/shylrr/", method: "post", id: "subForm" }
          %p
            %label{ for: "shylrr-shylrr" } Subscribe for news
          .field_wrap
            %input.field{ type: "text", name: "cm-shylrr-shylrr", id: "shylrr-shylrr", size: "25", placeholder: "Email" }
            %button{ type: "submit" }
              %span= "Subscribe"
      .networks
        = render 'layouts/twitter'
        = render 'layouts/googleplus'
        = render 'layouts/facebook'
      %p.service_by
        = "SublimeVideo is a service by"
        = link_to "http://jilion.com", class: "jilion" do
          %span= "Jilion"

    .footer_break
    %p.copyright
      = link_to "Terms & Conditions", my_url('terms')
      = "|"
      = link_to "Privacy Policy", my_url('privacy')
      = raw "| Copyright &copy; #{Time.now.utc.year} Jilion&reg; &mdash; SublimeVideo and Jilion are registered trademarks."
