-# Default Menu
- unless content_for?(:header_menu)
  = content_for :header_menu do
    %nav#menu
      %ul.sticky#header_menu
        %li.popup_wrap
          %strong.trigger
            = "Solutions"
            %span.icon-arrow-down
          %ul.popup
            = layout_li_menu_link 'SublimeVideo Player', path: 'sublime-video-player'
            = layout_li_menu_link 'Horizon Framework', path: 'horizon-framework'
            = layout_li_menu_link 'Tailor-Made Players', path: 'tailor-made-players'
        = layout_li_menu_link 'pricing'
        = layout_li_menu_link 'showcase', path: 'customer-showcase'
        = layout_li_menu_link 'news'
        = layout_li_menu_link 'help', link_options: { data: { 'no-turbolink' => true } }
        - if request.subdomain == 'my'
          %li.unlogged.signup= link_to 'sign up', my_url('signup'), class: 'no_sticky'
          %li.unlogged= link_to 'login', my_url('login'), class: 'no_sticky'
        - else
          %li.unlogged.signup= link_to 'sign up', layout_url('?p=signup'), onclick: "return SublimeVideo.UI.Utils.openAccountPopup('signup')", class: 'no_sticky'
          %li.unlogged= link_to 'login', layout_url('?p=login'), onclick: "return SublimeVideo.UI.Utils.openAccountPopup('login')", class: 'no_sticky'
        %li.logged{ style: 'display:none;' }= link_to 'My Sites', my_url('/'), class: 'no_sticky'
        %li.logged.logout{ style: 'display:none;', title: "Logout" }
          = link_to my_url('/logout'), class: 'no_sticky' do
            %span= 'Logout'

= yield :header_menu

- if request.subdomain.blank? || request.subdomain == 'docs'
  = content_for :bottom do
    #popup_signup.popup{ style: "display:none" }
      .popup_wrap
        .lights
          .content= render template: '/users/new'
          = link_to "/", class: 'close', onclick: "return SublimeVideo.UI.Utils.closePopup()" do
            %span Close

    #popup_login.popup{ style: "display:none" }
      .popup_wrap
        .lights
          .content= render template: '/users/sessions/new'
          = link_to "/", class: 'close', onclick: "return SublimeVideo.UI.Utils.closePopup()" do
            %span Close
