-# Default Menu
- unless content_for?(:header_menu)
  = content_for :header_menu do
    %nav#menu
      %ul.sticky_items
        = li_menu_link 'news'
        = li_menu_link 'features'
        = li_menu_link 'plans'
        = li_menu_link 'demo'
        = li_menu_link 'showcase', page: 'customer-showcase'
        = li_menu_link 'help'
        %li= link_to "login", custom_url('?p=login'), onclick: "return SublimeVideo.showPopup('login')", class: 'no_sticky'
        %li.signup= link_to "sign up", custom_url('?p=login'), onclick: "return SublimeVideo.showPopup('signup')", class: 'no_sticky'

= yield :header_menu

- unless request.subdomain == 'my'
  = content_for :javascript_bottom do
    #popup_signup.popup{ style: "display:#{params[:p] == 'signup' ? 'block' : 'none'}" }
      .popup_wrap
        .lights
          .content= render template: '/users/new'
          = link_to "/", class: 'close', onclick: "return SublimeVideo.hidePopup('signup')" do
            %span Close

    #popup_login.popup{ style: "display:#{params[:p] == 'login' ? 'block' : 'none'}" }
      .popup_wrap
        .lights
          .content= render template: '/users/sessions/new'
          = link_to "/", class: 'close', onclick: "return SublimeVideo.hidePopup('login')" do
            %span Close

