- @ie_min ||= 7
= surround "<!--[if lte IE #{@ie_min}]>".html_safe, "<![endif]-->".html_safe do
  %meta{ "http-equiv" => "Refresh", content: "0;url=http://jilion.com/ie" }
  %style{ type: "text/css", media: "screen" }
    == body {background:#fff;display:none;}

/[if lte IE 8]
  = stylesheet_link_tag("ie")
/[if lte IE 9]
  = javascript_include_tag("#{request.protocol}html5shiv.googlecode.com/svn/trunk/html5.js")
